# 圖書館帳號 (可設定多組，編號從 1 開始)
ACCOUNT1_LABEL=帳號名稱
ACCOUNT1_CARD=借閱證號
ACCOUNT1_PASSWORD=密碼

ACCOUNT2_LABEL=帳號名稱
ACCOUNT2_CARD=借閱證號
ACCOUNT2_PASSWORD=密碼

# Email 通知設定
EMAIL_ENABLED=true
EMAIL_RECIPIENT=收件人@gmail.com
EMAIL_SENDER=寄件人@gmail.com
EMAIL_APP_PASSWORD=Gmail應用程式密碼
